.authenticationBox {
  cursor: pointer;
  display: flex;
  background: white;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  transition: 0.3s;
  padding: 10px;

  &:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px 0px !important;
  }
}
