.itemCard {
  :global(.addToCartBtn) {
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: var(--my-brand-color); // Example blue color
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
      animation: wiggle 0.5s ease-in-out;
    }
  }
}
@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
